/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&family=Poppins:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;    
    background-color: #E5E5E5;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    height: 679px;
    border-radius: 5px;
    padding: 30px;
    border: 2px solid gray;
}

/* top player styles */
.section-title{
    color: #562EFF;
    width: 187px;
    height: 36px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.players-name{
    margin-left: 16px;
    font-size: 18px;
}
.horizentel-line{
    margin-top: 27px;
    border: 1px solid #D1D1D1;
}

/* top blogs style */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.blog{
    display: flex;
    padding-top: 20px;
}
.thumbniles{

}
.blog, img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    width: 200px;
}
.author{
    width: 174px;
    color: #9F9F9F;
    font-weight: 400;
    font-size: 16px;
}
.author a{
    color: 
    #562EFF;
    text-decoration: none;
}
/* courses style */
.courses{
    
}